.modal{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: rgba(207, 207, 207, 0.719);
}

.modalBody{
    width: 25rem;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 11;
    transform: translate(-50%, -50%);
    background-color: #534974d3
}

.content_title{
    font-size: 1.3rem;
    padding: 1rem ;
    position: relative;
    top: 0.6rem;
    color: white;
}

.publishing{
    width: 20%;
    height:8%;
    position: absolute;
    top: 90%;
    right: 10%;
    transform: translate(10%,-50%);
    background-color: #FFFFFF;
    border: 0px;
}

.tage_input{
    width: 70%;
    height: 6%;
    position: absolute;
    top: 74%;
    left: 1rem;
}

.content{
    position:absolute;
    top: 10%;
    left: 1rem;
}



.closeimg{
    position: absolute;
    top:1%;
    right: 1%;
    width: 5%;
    height: 5%;
}