body{
    width: 600vw;
    height: 100vh;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
}
.move{

    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; 
    border-radius: 30px; 
}
