body{
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    background-color: white;
}
.id_password{
    width: 292px;
    height: 30px;

}
#div1{
width: 300px; 
height: 400px;
}
#login{
    width: 300px;
    height: 30px;
    margin: 5px auto;
}
#h{
    font-size: 40px;
    font-family:cursive ;
    display: flex;
    justify-content: center;
    align-items: center;
}
    
.id_password{
    margin-top: 5px;
}

#border{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background :linear-gradient( rgba(116, 152, 250, 0.637) , rgba(123, 35, 195,0.600));
    border:2px solid black;
}
