body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEB33;
    margin: 0px;
}
#ya{
    width: 300px;
    margin: 0px auto;
}
#yo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 0px;
    margin-top: 5px ;
    
}
.login{
    width: 300px;
    height: 50px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;

}
