body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    margin: 0px;
}
#header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.n
{   
    padding-top: 106px;
    padding-bottom: 56px;
    font-size: 60px; 
    color: #03c75a;    
    font-weight: bold;
} 
.Area{
     background-color:  #ffffff;
    border: 1px solid rgb(207, 207, 207);
    font-size: 14px;
    padding-left: 10px;
    cursor: pointer;
}
#login{
    background-color: #03c75a;
    color: white;
    border: 0px;
    cursor: pointer;
}
.Area:focus{
    outline: none;
    border: 1px solid #03c75a;
}
#kakao{
    width: 230px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFEB33;
}

#di{
    padding-top:10px;
}