body{
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: snow;
    height: 450px;
    margin: 0px;
    background-color: #f6f5f7;
}
#header{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-bottom: 50px;
}
.n
{   
    padding-top: 106px;
    padding-bottom: 56px;
    font-size: 60px;
    color: #03c75a;    
    font-weight: bold;
}
.Area{
     background-color:  #ffffff;
    border: none;
    font-size: 14px;
    padding: 8px 0 6px;
    cursor: pointer;
   
}
#login{
    background-color: #03c75a;
    color: ivory;
}
