body{
        
        box-sizing: border-box;
        width:  100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction:column ;
        background-position: center;
        background-size: cover;
        background-color: goldenrod;
        
        
    }
    #id :hover{
        color: pink;
        text-shadow:4px 4px 10px deeppink;
    }


    #Hello{
        font-size: 30px;
        margin-bottom: 0px;
    }
    #h1{
        color:white;  
    }
    #li{
    }
  