body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: white;
}
#ya{
    width: 295px;
    margin: 0px auto;
}
#yo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 50px;
    background-color: white;
    margin-top: 5px ;
    border:0px  ;
    position: relative;
    top: 80px;
    background-color: #FFEB33;
}
.login{
    width: 300px;
    height: 50px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: center;
    position: relative;
    top: 80px;
    background-color: #FFEB33;
} 
#i{
    font-size: 200px;
}
#idiv{
    position:absolute;
    top: 40px;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}